* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 400px;
    height: auto;
}

.main-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text2{
        margin-top: 20px;

    color: rgb(4, 16, 32);
    font-size: 60px;
    font-weight: bold;
}
.main-text1 {
    margin-top: 18px;
    color: rgb(4, 16, 32);
    font-size: 30px;
    font-weight: bold;
}

.main-btn {
    margin-top: 18px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    border: 0;
    background-color: rgb(4, 16, 32);
}

a {
    text-decoration: none;
    color: white;
}
.main-btn:hover {
    background-color: rgb(77, 160, 255);
    color: white;
    cursor: pointer;
}


@media screen and (max-width: 520px) {

    .main-text1 {
        font-size: 6vw;
        font-weight: bold;
    }

    .main-text2 {
        font-size: 10vw;
        font-weight: bold;
    }

    img {
        width: 80vw;
    }

    input {
        width: 60vw;
        padding: 3vw 3vw;

    }

    .main-btn {
        padding: 3vw 3vw;
        font-size: 4vw;

    }

}